<div class="sidebar">
    <div class="input-field col s6">
      <input id="filter" type="text" class="validate" [(ngModel)]="searchStr">
      <label class="active" for="filter">Search By Name</label>
    </div>

      <div class="col s12 m6" *ngIf="Users$| async as users" >
        <div
          class="card blue-grey darken-1"
          *ngFor="let user of users | search:searchStr"
          (click)="selectUser(user.id)"
        >
          <div class="card-image">
            <img class="user-view" [src]="user.profile_pic_url">
          </div>
          <div class="card-content white-text">
            <span class="card-title">{{user.first_name}}</span>

          </div>
        </div>
      </div>
</div>

<main>
<app-user-bio
  [user]="selectedUser"
></app-user-bio>
</main>
